# Logs

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
# Ignore Firebase service account credentials
astrovendor-firebase-adminsdk.json
ohmastrocustomer-firebase-adminsdk.json

# (Optional: ignore all firebase credential files)
*firebase-adminsdk.json

.env
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?